<ul class="sidebar-nav">
  {% comment %} {% if user.is_authenticated %} {% endcomment %}
    <li>
      <a href="{% url 'board:task-create' %}">
        +
      </a>
    </li>
    
    <li>
      <a href="{% url 'board:task-list' %}"
         class="{% if request.resolver_match.view_name == 'board:task-list' %}
                sidebar-nav-active{% endif %}">
        Task board
      </a>
    </li>

    <li>
      <a href="{% url 'board:tag-list' %}"
         class="{% if request.resolver_match.view_name == 'board:tag-list' %}
                sidebar-nav-active{% endif %}">
        Tags
      </a>
    </li>
</ul>
