{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for _, task_group in grouped_tasks.items %}
                <div class="col-4 task-list-separator">
                    <h4 class="task-status">
                        {{ task_group.status }}
                    </h4>

                    <div class="task-card-grid">
                        {% for task in task_group.tasks %}
                            {% block task_card %}
                                {% include "includes/task_card.html" with task=task %}
                            {% endblock %}
                        {% empty %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
